<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>First nodejs Projekt<h1>
    </header>
    <main>
        <div>
            <label for="id">Firmen ID*</label>
            <br>
            <input type="text" id="id" placeholder="firma id" required>
        </div>
        <div>
            <label for="mail">Benutzer name*</label>
            <br>
            <input type="email" id="mail" required placeholder="User Name">
        </div>
        <div>
            <label for="pass">Kennwort*</label>
            <br>
            <input type="password" id="pass" required placeholder="Password" >
            <br>
        </div>
            <button type="submit">login</button>
    </main>
</body>
</html>